/* Styling for Chef Section */

.chef-section h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.chef-section .description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.chef-section .btn {
  background-color: #000000;
  color: aliceblue;
  font-family: "varela round" sans-serif;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0s ease;
}

.rowd {
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #c4fff5 100%);
}

.chef-section .btn:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.418);
}
